<div class="main-contact">
	<div class="container">
		<h2>Contact me</h2>
		<ul class="">
      	 	<li><a href=""><%= image_tag "github64.png" %></a></li>	
      	 	<li><a href="#"><%= image_tag "bird64.png" %></a></li>
      	 	<li><a href="#"><%= image_tag "linkedin64.png" %></a></li>	
      	 	<li><a href=""><%= image_tag "facebook64.png" %></a></li>	
      	 	<li><a href="#"><%= image_tag "google64.png" %></a></li>
      	 	<li><a href="#"><%= image_tag "photos64.png" %></a></li>	
      	 </ul>
	</div>
</div>