<div class="main">
	<div class="container">
		<div class="banner">
			<ul>
				<li><%= image_tag "01broadway.jpg", :class => "style_image" %></li>
				<li><%= image_tag "02calendar.jpg", :class => "style_image" %></li>
				<li><%= image_tag "03gameboard.jpg", :class => "style_image" %></li>
			</ul>
		</div>
	</div>
</div>

<div class="supporting">
	<div class="container">
		<div class="row">
			<div class="col-md-6">
				<div class="thumbnail">
					<%= image_tag "01broadway.jpg", :class => "style_image" %>	
					<h4>title</h4>
					<p>description</p>
				</div>
			</div>
			<div class="col-md-6">
				<div class="thumbnail">
					<%= image_tag "02calendar.jpg", :class => "style_image" %>	
					<h4>title</h4>
					<p>description</p>
				</div>
			</div>
		</div>

		<div class="row">
			<div class="col-md-6">
				<div class="thumbnail">
					<%= image_tag "03gameboard.jpg", :class => "style_image" %>
					<h4>title</h4>
					<p>description</p>	
				</div>
			</div>
			<div class="col-md-6">
				<div class="thumbnail">
					<%= image_tag "04feedster.jpg", :class => "style_image" %>	
					<h4>title</h4>
					<p>description</p>
				</div>
			</div>
		</div>

		<div class="row">
			<div class="col-md-6">
				<div class="thumbnail">
					<%= image_tag "06newsroom.jpg", :class => "style_image" %>
					<h4>title</h4>
					<p>description</p>	
				</div>
			</div>
			<div class="col-md-6">
				<div class="thumbnail">
					<%= image_tag "07milfordschool.jpg", :class => "style_image" %>	
					<h4>title</h4>
					<p>description</p>
				</div>
			</div>
		</div>	

	</div>
</div>

<!-- <script src="https://s3.amazonaws.com/codecademy-content/projects/jquery.min.js"></script>
<script src="//unslider.com/unslider.min.js"></script> -->